{% extends 'jirani/base.html' %}

{% block content %}
    <h2>Tractor Detail</h2>
    <p>Model: {{ tractor.model }}</p>
    <p>Year: {{ tractor.year }}</p>
    <p>Price: KES {{ tractor.price }} per day</p>
    <p>Available: {{ tractor.available|yesno:"Yes,No" }}</p>
    <p>Owner: {{ tractor.owner.user.username }}</p>

    {% if user.farmer == tractor.owner %}
        <a href="{% url 'jirani:edit_tractor' tractor.id %}">Edit</a>
        <a href="{% url 'jirani:delete_tractor' tractor.id %}">Delete</a>
    {% elif tractor.available %}
        <a href="{% url 'jirani:create_lease' tractor.id %}">Lease</a>
    {% endif %}
{% endblock %}
