{% extends 'base.html' %}

{% block content %}
    <h2>Lease Detail</h2>
    <p>Tractor: {{ lease.tractor.model }}</p>
    <p>Renter: {{ lease.renter.user.username }}</p>
    <p>Start date: {{ lease.start_date }}</p>
    <p>End date: {{ lease.end_date }}</p>
    <p>Status: {{ lease.status }}</p>
    {% if user.farmer == lease.renter and lease.status == 'pending' %}
        <a href="{% url 'jirani:cancel_lease' lease.id %}">Cancel</a>
    {% elif user.farmer == lease.tractor.owner and lease.status == 'pending' %}
        <a href="{% url 'jirani:confirm_lease' lease.id %}">Confirm</a>
    {% elif user.farmer == lease.tractor.owner and lease.status == 'confirmed' %}
        <a href="{% url 'jirani:complete_lease' lease.id %}">Complete</a>
    {% endif %}
{% endblock %}
